:root{
    --color1: rgba(42, 122, 228, 1)
}
@font-face {
    font-family: 'Raleway';
    src: "https://fonts.googleapis.com";
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
main{
    background-color: #E5E5E5;
    padding-bottom: 5%;
}
a{
    text-decoration: none;
    color: var(--color1);
}
button{
    background-color: var(--color1);
    border: none;
    color: white;
    padding: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(49, 138, 255);
}
select{
    background-color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  display: none; 
  margin: 0; 
}
input[type=number] { 
    appearance:textfield; 
}
.hidden{
    display: none;
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 3vh;
}
.search{
    background: #F5F5F5;
    border-radius: 20px;
    margin: 0px 15% 0px 0px;
    width: 30%;
    padding: 12px;
    box-shadow: none;
}
.login{
    border: solid 2px var(--color1);
    color: var(--color1);
    padding: 1rem 3rem;
    transition: 0.1s;
}
.login:hover{
    background-color: var(--color1);
    color: white;
}
.lupa{
    display: none;
}

/* Contact */
.contact{
    background-color: rgba(234, 242, 253, 1);
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 2rem 8%;
    gap: 50px;
}
.contact a{
    display: block;
    margin: 2% auto;
    align-self: flex-start;
}
.contact-list{
    list-style: none;
    height: 100%;
    padding: 0;
}
.contact-link{
    display: block;
    min-width: max-content;
    color: black;
    padding: 10px;
}
.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-form h3{
    font-size: 16px;
}
.errors{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.errors li{
    color: red;
    margin-bottom: 5px;
}
.label{
    background-color: white;
    color: rgba(162, 162, 162, 1);
    font-size: 0.8rem;
    padding: 5px 1rem; 
}
.input, .textarea{
    border: none;
    padding: 5px 1rem;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.textarea{
    resize: none;
    height: 4rem;
}
textarea::placeholder{
    color: rgba(162, 162, 162, 1);
}
.input:focus, .textarea:focus{
    outline: none;
}
.contact-form button{
    width: 50%;
}

.developer{
    position: relative;
    text-align: center;
    bottom: 0;
    border-top: 2px solid grey;
    padding: 20px 0;
    margin-top: 0;
}
/* RESPONSIVE */

/* Tablets */
@media (max-width: 900px) {
    .contact{
        max-height: 370px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0
    }
    .contact a{
        margin-left: 0;
    }
}
/* Cellphones */
@media (max-width: 500px) {
    .search{
        display: none
    }
    .lupa{
        display: block;
        margin-left: 5%;
        justify-self: flex-end;
        cursor: pointer;
    }
    .contact{
        max-height: max-content;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }
    .contact a{
        margin: auto;
    }
    .contact-link{
        text-align: center;
    }
    .contact-form{
        width: 100%;
    }
}

